@font-face {
  font-family: 'unisansregular';
  src: url('../fonts/UniSansRegular/UniSansRegular.woff2') format('woff2'),
  url('../fonts/UniSansRegular/UniSansRegular.woff') format('woff'),
  url('../fonts/UniSansRegular/UniSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'unisanssemibold';
  src: url('../fonts/UniSansSemiBold/UniSansSemiBold.woff2') format("woff2"),
  url('../fonts/UniSansSemiBold/UniSansSemiBold.woff') format("woff"),
  url('../fonts/UniSansSemiBold/UniSansSemiBold.ttf') format("truetype");
}

@font-face {
  font-family: 'unisansheavy';
  src: url('../fonts/UniSansHeavy/UniSansHeavy.woff2') format('woff2'),
  url('../fonts/UniSansHeavy/UniSansHeavy.woff') format('woff'),
  url('../fonts/UniSansHeavy/UniSansHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'unisansbook';
  src: url('../fonts/UniSansBook/UniSansBook.woff2') format('woff2'),
  url('../fonts/UniSansBook/UniSansBook.woff') format('woff'),
  url('../fonts/UniSansBook/UniSansBook.ttf') format('truetype');
}
