/* fonts */
$reg: 'unisansregular', sans-serif;
$semibold: 'unisanssemibold', sans-serif;
$heaavy: 'unisansheavy', sans-serif;
$book: 'unisansbook', sans-serif;

/* color */
$red: #ad172b;
$gray: #666666;

/* media */
